In [ ]:
print("Welcome to ExcelR")

Welcome to ExcelR

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)  # to know the data type of variable

int

In [ ]:
5**3   #cube of 5

125

In [ ]:
price=50.5
price # only show output of last line 
type(price)

float

In [ ]:
price=50.5
print(price) # To see intermediate lines output use print() function
type(price)

50.5

float

In [ ]:
name="Teja"
type(name)

str

In [ ]:
dir(str) # all methods that can be applied on strings 
# __ dunder funtion/ magic methods

In [ ]:
str="welcome to Data science"
str.capitalize()

'Welcome to data science'

In [ ]:
str.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str.lower()

'welcome to data science'

In [ ]:
str.title()  # 1st letter of each word will be capital|

'Welcome To Data Science'

In [ ]:
food="bIrYAni"
name="TeJa"
print(food.swapcase())
name.swapcase()

BiRyaNI

'tEjA'

In [ ]:
s1="My name is Teja."
print(s1.split()) # list of strings is created

s2="Mumbai-pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Teja.']

['Mumbai', 'pune', 'Mumbai']

In [ ]:
mail="teja@gmail.com"
mail.split("@")

['teja', 'gmail.com']

In [ ]:
s1.replace("Teja","Sanket")

'My name is Sanket.'

In [ ]:
# single line comment

'''
multiline comment
'''

'\nmultiline comment\n'

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"satara".count("t")

1

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Teja"
surname="Nale"
name + surname # concatenates without space

'TejaNale'

In [ ]:
name + " " + surname   # concatenates with space

'Teja Nale'

In [ ]:
# Conditional Statement
a=10
b=20
if(a>b):
  print("a is greater",a)
else:
  print("b is greater",b)

b is greater 20

In [ ]:
a=10
b=20
if(10<20):
  print("10 is less than 20")
else:
  print("20 is grester than 10")

10 is less than 20

In [ ]:
salary=25000
print("salary=25000")
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal = salary - tax*salary
print(net_sal)  
print("**************************")
# change value of salary as 15000 and excute again 

salary=15000
print("salary=15000")
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal = salary - tax*salary
print(net_sal)

salary=25000
Hello from true if
Bye... outside of if block
18750.0
**************************
salary=15000
Hello from false if / else
Bye... outside of if block
12000.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
#for loop
for number in range(5,10): # print numbers from 5 to 9. default increment value is 1.
  print(number)

5
6
7
8
9

In [ ]:
# print numbers 1 to 10
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print all even number from 1 to 20
for even in range(2,21,2):
  print(even)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print all odd number from 1 to 20
for odd in range(1,20,2):
  print(odd)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i == 5:
    break
  else:
    print(i)

1
2
3
4

In [ ]:
for num in range(10): #range is 0 to 9
 print(num, num*num, num*num*num, num**2)  # num and its square and its cube

0 0 0 0
1 1 1 1
2 4 8 4
3 9 27 9
4 16 64 16
5 25 125 25
6 36 216 36
7 49 343 49
8 64 512 64
9 81 729 81

In [ ]:
for i in range(1,11):
  if i == 5:
    print("same")
    break
  else:
    print(i)

1
2
3
4
same

In [ ]:
# range(start,stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,end=" --@-- ")

1 --@-- 6 --@-- 11 --@-- 16 --@-- 21 --@-- 26 --@--

In [ ]:
subject="science"
for letter in subject:
  print(letter)

  #print(letter, end="")

s
c
i
e
n
c
e

In [ ]:
#  23-12-2022
list3=["mango","apple","banana","strawberry","pineapple","custer apple","mulberry"]

In [ ]:
# List comprehension - marks your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
# extract fruit names containing substring 'berry' using list comprehension
list3

['mango',
 'apple',
 'banana',
 'strawberry',
 'pineapple',
 'custer apple',
 'mulberry']

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]
#print(newlist, end=" ")
newlist

['strawberry', 'mulberry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]
print(newlist1, end=" ")

['mango', 'apple', 'banana', 'pineapple', 'custer apple']

In [ ]:
list3

['mango',
 'apple',
 'banana',
 'strawberry',
 'pineapple',
 'custer apple',
 'mulberry']

In [ ]:
list3.index('banana')

2

In [ ]:
list3.index('strawberry')

3

In [ ]:
list3.index('tomato')

ValueError: ignored

In [ ]:
# index 2 item was banana which is replaced by orange
# lists are mutable - you can replace item
list3[2]="orange"
list3

['mango',
 'apple',
 'orange',
 'strawberry',
 'pineapple',
 'custer apple',
 'mulberry']

In [ ]:
# data structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
#create using round bracekt
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[0]=7

TypeError: ignored

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)  # count of 1 no. in tuple

1

In [ ]:
t1.index(4)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6,6)

In [ ]:
t2.count(6)

6

In [ ]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
# data structure : 3. Dictionary
# dictionaries are used to store data values in key: value pairs
# A dictionary is a collection which is ordered, changeable and not allow duplication.
# dictionaaris are written with curly brackets, and have keys and values.
# here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal":"kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)

{'Nepal': 'kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

In [ ]:
# access elements of dictionary
capital_dict=["England"]

In [ ]:
keys=capital_dict.keys()
keys

AttributeError: ignored

In [ ]:
values=capital_dict.values()
values

AttributeError: ignored